USE [QLVT]
GO
/****** Object:  User [1]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE USER [1] FOR LOGIN [lt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [3]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE USER [3] FOR LOGIN [tt] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ad]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE USER [ad] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Admin]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE ROLE [Admin]
GO
/****** Object:  DatabaseRole [db_executor]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE ROLE [db_executor]
GO
/****** Object:  DatabaseRole [NhanVien]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE ROLE [NhanVien]
GO
ALTER ROLE [db_executor] ADD MEMBER [1]
GO
ALTER ROLE [Admin] ADD MEMBER [1]
GO
ALTER ROLE [db_owner] ADD MEMBER [1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [1]
GO
ALTER ROLE [NhanVien] ADD MEMBER [3]
GO
ALTER ROLE [db_executor] ADD MEMBER [Admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [Admin]
GO
/****** Object:  Schema [24]    Script Date: 6/25/2025 10:08:57 PM ******/
CREATE SCHEMA [24]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MASODDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DDH]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDH](
	[MASODDH] [nchar](8) NOT NULL,
	[NGAY] [date] NULL,
	[NHACC] [nvarchar](100) NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CCCD] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [float] NULL,
	[GHICHU] [text] NULL,
	[TRANGTHAIXOA] [bit] NULL,
 CONSTRAINT [PK__NHANVIEN__MANV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK__NHANVIEN__CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MASODDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK__PHIEUNHAP_MAPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK__PHIEUNHAP_MASODDH] UNIQUE NONCLUSTERED 
(
	[MASODDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK__PHIEUXUAT_MAPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NULL,
	[SOLUONGTON] [int] NOT NULL,
 CONSTRAINT [PK__VATTU__60228248797A358F] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK__VATTU__A58D00F407D9931A] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DDH] ADD  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF__NHANVIEN__TRANGT__398D8EEE]  DEFAULT ((0)) FOR [TRANGTHAIXOA]
GO
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [DF__PHIEUNHAP__NGAY__5535A963]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PHIEUXUAT] ADD  CONSTRAINT [DF__PHIEUXUAT__NGAY__5FB337D6]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK__CHITIETDO__MASOD__4BAC3F29] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DDH] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK__CHITIETDO__MASOD__4BAC3F29]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK__CHITIETDON__MAVT__4CA06362] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK__CHITIETDON__MAVT__4CA06362]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_MAPN] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_MAPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_MAVT] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_MAVT]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_MAPX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_MAPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_MAVT] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VATTU] ([MAVT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_MAVT]
GO
ALTER TABLE [dbo].[DDH]  WITH NOCHECK ADD  CONSTRAINT [FK__DONDATHANG__MANV__412EB0B6] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DDH] CHECK CONSTRAINT [FK__DONDATHANG__MANV__412EB0B6]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUNHAP_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_MANV]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUNHAP_MASODDH] FOREIGN KEY([MASODDH])
REFERENCES [dbo].[DDH] ([MASODDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_MASODDH]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH NOCHECK ADD  CONSTRAINT [FK_PHIEUXUAT_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_MANV]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK__NHANVIEN__LUONG] CHECK  (([LUONG]>=(7000000)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK__NHANVIEN__LUONG]
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD  CONSTRAINT [CK__VATTU__SOLUONGTO__3D5E1FD2] CHECK  (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[VATTU] CHECK CONSTRAINT [CK__VATTU__SOLUONGTO__3D5E1FD2]
GO
/****** Object:  StoredProcedure [dbo].[SP_BangKe_NhapXuat_TheoThang]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- STORED PROCEDURE: SP_BangKe_NhapXuat_TheoThang
-- Mục đích: Lấy bảng kê nhập/xuất theo khoảng thời gian
-- Hỗ trợ sắp xếp, không phân trang, không filter bổ sung
-- Bao gồm thông tin nhân viên
-- =====================================================
CREATE PROC [dbo].[SP_BangKe_NhapXuat_TheoThang]
    -- Tham số cơ bản
    @LoaiBangKe NVARCHAR(10) = 'NHAP',     -- 'NHAP', 'XUAT', 'BOTH'
    @TuNgay DATE,                          -- Ngày bắt đầu (bắt buộc)
    @DenNgay DATE,                         -- Ngày kết thúc (bắt buộc)
    
    -- Tham số sắp xếp
    @SapXepTheo NVARCHAR(20) = 'THANG',    -- 'THANG', 'MAVT', 'TENVT', 'TRIGIA'
    @ThuTuSapXep NVARCHAR(4) = 'ASC',      -- 'ASC', 'DESC'
    
    -- Tham số trả về
    @TongSoBanGhi INT OUTPUT,              -- Tổng số bản ghi
    @TongSoLuong DECIMAL(18,2) OUTPUT,     -- Tổng số lượng
    @TongTriGia DECIMAL(18,2) OUTPUT       -- Tổng trị giá
AS
BEGIN
    SET NOCOUNT ON;
    
    -- =====================================
    -- VALIDATION THAM SỐ ĐẦU VÀO
    -- =====================================
    IF @TuNgay IS NULL OR @DenNgay IS NULL
    BEGIN
        RAISERROR('Tham số @TuNgay và @DenNgay không được để trống', 16, 1);
        RETURN;
    END;
    
    IF @TuNgay > @DenNgay
    BEGIN
        RAISERROR('Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc', 16, 1);
        RETURN;
    END;
    
    IF @LoaiBangKe NOT IN ('NHAP', 'XUAT', 'BOTH') SET @LoaiBangKe = 'NHAP';
    IF @SapXepTheo NOT IN ('THANG', 'MAVT', 'TENVT', 'TRIGIA') SET @SapXepTheo = 'THANG';
    IF @ThuTuSapXep NOT IN ('ASC', 'DESC') SET @ThuTuSapXep = 'ASC';
    
    -- =====================================
    -- TẠO BẢNG TẠM
    -- =====================================
    CREATE TABLE #BangKe (
        Nam INT,
        Thang INT,
        ThangNam NVARCHAR(10),
        LoaiPhieu NVARCHAR(10),
        MaPhieu NCHAR(8),
        MAVT NCHAR(4),
        TENVT NVARCHAR(30),
        DVT NVARCHAR(15),
        SoLuong INT,
        DonGia FLOAT,
        TriGia DECIMAL(18,2),
        NgayPhieu DATE,
        MANV INT,                          -- Thêm mã nhân viên
        HoTenNV NVARCHAR(50)               -- Thêm họ tên nhân viên
    );
    
    -- =====================================
    -- THU THẬP DỮ LIỆU NHẬP
    -- =====================================
    IF @LoaiBangKe IN ('NHAP', 'BOTH')
    BEGIN
        INSERT INTO #BangKe (Nam, Thang, ThangNam, LoaiPhieu, MaPhieu, MAVT, TENVT, DVT, SoLuong, DonGia, TriGia, NgayPhieu, MANV, HoTenNV)
        SELECT 
            YEAR(PN.NGAY) AS Nam,
            MONTH(PN.NGAY) AS Thang,
            FORMAT(PN.NGAY, 'MM/yyyy') AS ThangNam,
            N'NHẬP' AS LoaiPhieu,
            PN.MAPN AS MaPhieu,
            CT.MAVT,
            VT.TENVT,
            VT.DVT,
            CT.SOLUONG AS SoLuong,
            CT.DONGIA AS DonGia,
            CAST(CT.SOLUONG * CT.DONGIA AS DECIMAL(18,2)) AS TriGia,
            PN.NGAY AS NgayPhieu,
            PN.MANV,                       -- Thêm mã nhân viên
            NV.HO + ' ' + NV.TEN AS HoTenNV -- Thêm họ tên nhân viên
        FROM PHIEUNHAP PN WITH (INDEX = IX_PHIEUNHAP_NGAY_OPTIMIZED)
        INNER JOIN CTPN CT WITH (INDEX = IX_CTPN_MAPN_MAVT) ON PN.MAPN = CT.MAPN
        INNER JOIN VATTU VT ON CT.MAVT = VT.MAVT
        INNER JOIN NHANVIEN NV ON PN.MANV = NV.MANV -- Thêm join với NHANVIEN
        WHERE PN.NGAY >= @TuNgay 
            AND PN.NGAY <= @DenNgay
            AND CT.SOLUONG > 0;
    END;
    
    -- =====================================
    -- THU THẬP DỮ LIỆU XUẤT
    -- =====================================
    IF @LoaiBangKe IN ('XUAT', 'BOTH')
    BEGIN
        INSERT INTO #BangKe (Nam, Thang, ThangNam, LoaiPhieu, MaPhieu, MAVT, TENVT, DVT, SoLuong, DonGia, TriGia, NgayPhieu, MANV, HoTenNV)
        SELECT 
            YEAR(PX.NGAY) AS Nam,
            MONTH(PX.NGAY) AS Thang,
            FORMAT(PX.NGAY, 'MM/yyyy') AS ThangNam,
            N'XUẤT' AS LoaiPhieu,
            PX.MAPX AS MaPhieu,
            CT.MAVT,
            VT.TENVT,
            VT.DVT,
            CT.SOLUONG AS SoLuong,
            CT.DONGIA AS DonGia,
            CAST(CT.SOLUONG * CT.DONGIA AS DECIMAL(18,2)) AS TriGia,
            PX.NGAY AS NgayPhieu,
            PX.MANV,                       -- Thêm mã nhân viên
            NV.HO + ' ' + NV.TEN AS HoTenNV -- Thêm họ tên nhân viên
        FROM PHIEUXUAT PX WITH (INDEX = IX_PHIEUXUAT_NGAY_OPTIMIZED)
        INNER JOIN CTPX CT WITH (INDEX = IX_CTPX_MAPX_MAVT) ON PX.MAPX = CT.MAPX
        INNER JOIN VATTU VT ON CT.MAVT = VT.MAVT
        INNER JOIN NHANVIEN NV ON PX.MANV = NV.MANV -- Thêm join với NHANVIEN
        WHERE PX.NGAY >= @TuNgay 
            AND PX.NGAY <= @DenNgay
            AND CT.SOLUONG > 0;
    END;
    
    -- =====================================
    -- TÍNH TỔNG SỐ BẢN GHI VÀ CÁC TỔNG CỘNG
    -- =====================================
    SELECT 
        @TongSoBanGhi = COUNT(*),
        @TongSoLuong = SUM(SoLuong),
        @TongTriGia = SUM(TriGia)
    FROM #BangKe;
    
    -- =====================================
    -- XÂY DỰNG ORDER BY ĐỘNG
    -- =====================================
    DECLARE @OrderBy NVARCHAR(100);
    SET @OrderBy = CASE @SapXepTheo
        WHEN 'THANG' THEN 'Nam ' + @ThuTuSapXep + ', Thang ' + @ThuTuSapXep + ', MAVT ASC'
        WHEN 'MAVT' THEN 'MAVT ' + @ThuTuSapXep + ', Nam ASC, Thang ASC'
        WHEN 'TENVT' THEN 'TENVT ' + @ThuTuSapXep + ', Nam ASC, Thang ASC'
        WHEN 'TRIGIA' THEN 'TriGia ' + @ThuTuSapXep + ', Nam ASC, Thang ASC'
        ELSE 'Nam ASC, Thang ASC, MAVT ASC'
    END;
    
    -- =====================================
    -- TRUY VẤN CHÍNH
    -- =====================================
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = N'
    SELECT 
        Nam,
        Thang,
        ThangNam,
        LoaiPhieu,
        MaPhieu,
        MAVT,
        TENVT,
        DVT,
        SoLuong,
        FORMAT(DonGia, ''N0'') AS DonGia_Formatted,
        FORMAT(TriGia, ''N0'') AS TriGia_Formatted,
        SoLuong,
        DonGia,
        TriGia,
        NgayPhieu,
        MANV,
        HoTenNV,
        TongSoBanGhi = @TongSoBanGhi
    FROM #BangKe
    ORDER BY ' + @OrderBy;
    
    -- Thực thi truy vấn chính
    EXEC sp_executesql @SQL,
         N'@TongSoBanGhi INT',
         @TongSoBanGhi;
    
    -- =====================================
    -- TRẢ VỀ THÔNG TIN TỔNG HỢP THEO THÁNG
    -- =====================================
    SELECT 
        Nam,
        Thang,
        ThangNam,
        LoaiPhieu,
        MANV,
        HoTenNV,
        SoLuongPhieu = COUNT(DISTINCT MaPhieu),
        TongSoLuong = SUM(SoLuong),
        TongTriGia = SUM(TriGia),
        TongTriGia_Formatted = FORMAT(SUM(TriGia), 'N0')
    FROM #BangKe
    GROUP BY Nam, Thang, ThangNam, LoaiPhieu, MANV, HoTenNV
    ORDER BY Nam ASC, Thang ASC, LoaiPhieu ASC, MANV ASC;
    
    -- =====================================
    -- TRẢ VỀ THÔNG TIN TỔNG CỘNG
    -- =====================================
    SELECT 
        TongSoBanGhi = @TongSoBanGhi,
        TongSoLuong = @TongSoLuong,
        TongTriGia = @TongTriGia,
        TongTriGia_Formatted = FORMAT(@TongTriGia, 'N0');
    
    -- =====================================
    -- DỌN DẸP
    -- =====================================
    DROP TABLE #BangKe;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DangNhap]
	@TENLOGIN NVARCHAR( 100)
AS
	DECLARE @UID INT
	DECLARE @MANV NVARCHAR(100)
	SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  	WHERE sid = SUSER_SID(@TENLOGIN)

	SELECT  MANV= @MANV, 
       		HOTEN = (SELECT HO+ ' '+TEN FROM dbo.NHANVIEN WHERE MANV=@MANV ), 
       		TENNHOM=NAME
  	FROM sys.sysusers
    	WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhMucVatTu_Filter]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- STORED PROCEDURE: SP_DanhMucVatTu_Filter
-- Mục đích: Lấy danh mục vật tư với các bộ lọc linh hoạt
-- Bao gồm tìm kiếm theo tên vật tư, đơn vị tính, số lượng tồn
-- Hỗ trợ sắp xếp, không phân trang
-- =====================================================
CREATE PROC [dbo].[SP_DanhMucVatTu_Filter]
    -- Tham số filter
    @FilterTenVT NVARCHAR(50) = NULL,      -- Tìm kiếm theo tên vật tư
    @FilterDVT NVARCHAR(20) = NULL,        -- Filter theo đơn vị tính
    
    -- Filter theo số lượng tồn
    @SoLuongTonTu INT = NULL,              -- Số lượng tồn từ (>=)
    @SoLuongTonDen INT = NULL,             -- Số lượng tồn đến (<=)
    @ChiLayVatTuConHang BIT = 0,           -- 1: chỉ lấy vật tư còn hàng (SOLUONGTON > 0)
    @ChiLayVatTuHetHang BIT = 0,           -- 1: chỉ lấy vật tư hết hàng (SOLUONGTON = 0)
    
    -- Tham số sắp xếp
    @SapXepTheo NVARCHAR(20) = 'TENVT',    -- 'TENVT', 'MAVT', 'SOLUONGTON', 'DVT'
    @ThuTuSapXep NVARCHAR(4) = 'ASC',      -- 'ASC', 'DESC'
    
    -- Tham số trả về
    @TongSoBanGhi INT OUTPUT               -- Tổng số bản ghi thỏa mãn điều kiện
AS
BEGIN
    SET NOCOUNT ON;
    
    -- =====================================
    -- VALIDATION THAM SỐ ĐẦU VÀO
    -- =====================================
    IF @SapXepTheo NOT IN ('TENVT', 'MAVT', 'SOLUONGTON', 'DVT') SET @SapXepTheo = 'TENVT';
    IF @ThuTuSapXep NOT IN ('ASC', 'DESC') SET @ThuTuSapXep = 'ASC';
    
    -- =====================================
    -- XÂY DỰNG ĐIỀU KIỆN WHERE ĐỘNG
    -- =====================================
    DECLARE @WhereConditions NVARCHAR(MAX) = '1=1';
    
    -- 1. Filter theo trạng thái tồn kho
    IF @ChiLayVatTuConHang = 1
        SET @WhereConditions = @WhereConditions + ' AND SOLUONGTON > 0';
    ELSE IF @ChiLayVatTuHetHang = 1
        SET @WhereConditions = @WhereConditions + ' AND SOLUONGTON = 0';
    
    -- 2. Filter theo số lượng tồn
    IF @SoLuongTonTu IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND SOLUONGTON >= ' + CAST(@SoLuongTonTu AS NVARCHAR(20));
    IF @SoLuongTonDen IS NOT NULL  
        SET @WhereConditions = @WhereConditions + ' AND SOLUONGTON <= ' + CAST(@SoLuongTonDen AS NVARCHAR(20));
    
    -- 3. Filter theo đơn vị tính
    IF @FilterDVT IS NOT NULL AND LEN(LTRIM(RTRIM(@FilterDVT))) > 0
        SET @WhereConditions = @WhereConditions + ' AND DVT LIKE N''%' + REPLACE(@FilterDVT, '''', '''''') + '%''';
    
    -- 4. Filter theo tên vật tư
    IF @FilterTenVT IS NOT NULL AND LEN(LTRIM(RTRIM(@FilterTenVT))) > 0
        SET @WhereConditions = @WhereConditions + ' AND TENVT LIKE N''%' + REPLACE(@FilterTenVT, '''', '''''') + '%''';
    
    -- =====================================
    -- XÂY DỰNG ORDER BY
    -- =====================================
    DECLARE @OrderBy NVARCHAR(100);
    SET @OrderBy = CASE @SapXepTheo
        WHEN 'TENVT' THEN 'TENVT ' + @ThuTuSapXep
        WHEN 'MAVT' THEN 'MAVT ' + @ThuTuSapXep + ', TENVT ASC'
        WHEN 'SOLUONGTON' THEN 'SOLUONGTON ' + @ThuTuSapXep + ', TENVT ASC'
        WHEN 'DVT' THEN 'DVT ' + @ThuTuSapXep + ', TENVT ASC'
        ELSE 'TENVT ASC'
    END;
    
    -- =====================================
    -- XÂY DỰNG INDEX HINT
    -- =====================================
    DECLARE @IndexHint NVARCHAR(100) = '';
    IF @SapXepTheo = 'TENVT' OR (@FilterTenVT IS NOT NULL)
        SET @IndexHint = 'WITH (INDEX = IX_VATTU_TENVT_OPTIMIZED)';
    ELSE IF @SapXepTheo = 'SOLUONGTON' OR (@SoLuongTonTu IS NOT NULL OR @SoLuongTonDen IS NOT NULL OR @ChiLayVatTuConHang = 1 OR @ChiLayVatTuHetHang = 1)
        SET @IndexHint = 'WITH (INDEX = IX_VATTU_SOLUONGTON)';
    ELSE IF @SapXepTheo = 'DVT' OR (@FilterDVT IS NOT NULL)
        SET @IndexHint = 'WITH (INDEX = IX_VATTU_DVT_TENVT)';
    ELSE 
        SET @IndexHint = 'WITH (INDEX = IX_VATTU_TENVT_OPTIMIZED)';
    
    -- =====================================
    -- ĐẾM TỔNG SỐ BẢN GHI
    -- =====================================
    DECLARE @CountSQL NVARCHAR(MAX);
    SET @CountSQL = N'
    SELECT @TongSoBanGhi = COUNT(*)
    FROM VATTU ' + @IndexHint + '
    WHERE ' + @WhereConditions;
    
    EXEC sp_executesql @CountSQL, 
         N'@TongSoBanGhi INT OUTPUT', 
         @TongSoBanGhi OUTPUT;
    
    -- =====================================
    -- TRUY VẤN CHÍNH
    -- =====================================
    DECLARE @MainSQL NVARCHAR(MAX);
    SET @MainSQL = N'
    SELECT 
        MAVT,
        TENVT,
        DVT,
        SOLUONGTON,
        TongSoBanGhi = @TongSoBanGhi
    FROM VATTU ' + @IndexHint + '
    WHERE ' + @WhereConditions + '
    ORDER BY ' + @OrderBy;
    
    -- Thực thi truy vấn chính
    EXEC sp_executesql @MainSQL,
         N'@TongSoBanGhi INT',
         @TongSoBanGhi;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachNhanVien_Filter]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- STORED PROCEDURE: SP_DanhSachNhanVien_Filter
-- Mục đích: Lấy danh sách nhân viên với các bộ lọc linh hoạt
-- Bao gồm tìm kiếm theo họ tên (kết hợp họ và tên), lương, trạng thái xóa, địa chỉ, CCCD
-- Hỗ trợ sắp xếp, thêm cột NGAYSINH
-- =====================================================
CREATE PROC [dbo].[SP_DanhSachNhanVien_Filter]
    -- Tham số filter
    @FilterHoTen NVARCHAR(100) = NULL,     -- Tìm kiếm theo họ tên (kết hợp họ và tên)
    @FilterDiaChi NVARCHAR(100) = NULL,    -- Tìm kiếm theo địa chỉ
    @FilterCCCD NVARCHAR(20) = NULL,       -- Tìm kiếm theo CCCD
    
    -- Filter theo lương
    @LuongTu FLOAT = NULL,                 -- Lương từ (>=)
    @LuongDen FLOAT = NULL,                -- Lương đến (<=)
    
    -- Filter theo trạng thái
    @TrangThaiXoa BIT = NULL,              -- NULL: tất cả, 0: chưa xóa, 1: đã xóa
    
    -- Tham số sắp xếp
    @SapXepTheo NVARCHAR(20) = 'TEN',      -- 'TEN', 'HO', 'LUONG'
    @ThuTuSapXep NVARCHAR(4) = 'ASC',      -- 'ASC', 'DESC'
    
    -- Tham số trả về
    @TongSoBanGhi INT OUTPUT               -- Tổng số bản ghi thỏa mãn điều kiện
AS
BEGIN
    SET NOCOUNT ON;
    
    -- =====================================
    -- VALIDATION THAM SỐ ĐẦU VÀO
    -- =====================================
    IF @SapXepTheo NOT IN ('TEN', 'HO', 'LUONG') SET @SapXepTheo = 'TEN';
    IF @ThuTuSapXep NOT IN ('ASC', 'DESC') SET @ThuTuSapXep = 'ASC';
    
    -- Kiểm tra lương
    IF @LuongTu IS NOT NULL AND @LuongDen IS NOT NULL AND @LuongTu > @LuongDen
    BEGIN
        RAISERROR('❌ @LuongTu không được lớn hơn @LuongDen', 16, 1);
        RETURN;
    END;
    
    -- =====================================
    -- XÂY DỰNG ĐIỀU KIỆN WHERE ĐỘNG
    -- =====================================
    DECLARE @WhereConditions NVARCHAR(MAX) = '1=1';
    
    -- 1. Filter theo trạng thái xóa
    IF @TrangThaiXoa IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND TRANGTHAIXOA = ' + CAST(@TrangThaiXoa AS NVARCHAR(1));
    
    -- 2. Filter theo lương
    IF @LuongTu IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND LUONG >= ' + CAST(@LuongTu AS NVARCHAR(20));
    IF @LuongDen IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND LUONG <= ' + CAST(@LuongDen AS NVARCHAR(20));
    
    -- 3. Filter theo họ tên
    IF @FilterHoTen IS NOT NULL AND NULLIF(LTRIM(RTRIM(@FilterHoTen)), '') IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND (HO + '' '' + TEN LIKE N''%' + REPLACE(@FilterHoTen, '''', '''''') + '%'')';
    
    -- 4. Filter theo địa chỉ
    IF @FilterDiaChi IS NOT NULL AND NULLIF(LTRIM(RTRIM(@FilterDiaChi)), '') IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND DIACHI LIKE N''%' + REPLACE(@FilterDiaChi, '''', '''''') + '%''';
    
    -- 5. Filter theo CCCD
    IF @FilterCCCD IS NOT NULL AND NULLIF(LTRIM(RTRIM(@FilterCCCD)), '') IS NOT NULL
        SET @WhereConditions = @WhereConditions + ' AND CCCD LIKE N''%' + REPLACE(@FilterCCCD, '''', '''''') + '%''';
    
    -- =====================================
    -- XÂY DỰNG ORDER BY
    -- =====================================
    DECLARE @OrderBy NVARCHAR(100);
    SET @OrderBy = CASE @SapXepTheo
        WHEN 'TEN' THEN 'TEN ' + @ThuTuSapXep + ', HO ' + @ThuTuSapXep
        WHEN 'HO' THEN 'HO ' + @ThuTuSapXep + ', TEN ' + @ThuTuSapXep
        WHEN 'LUONG' THEN 'LUONG ' + @ThuTuSapXep + ', TEN ASC, HO ASC'
        ELSE 'TEN ASC, HO ASC'
    END;
    
    -- =====================================
    -- XÂY DỰNG INDEX HINT
    -- =====================================
    DECLARE @IndexHint NVARCHAR(100) = '';
    IF @SapXepTheo = 'TEN' OR @SapXepTheo = 'HO'
        SET @IndexHint = 'WITH (INDEX = IX_NHANVIEN_TEN_HO_OPTIMIZED)';
    ELSE IF @SapXepTheo = 'LUONG' OR @LuongTu IS NOT NULL OR @LuongDen IS NOT NULL
        SET @IndexHint = 'WITH (INDEX = IX_NHANVIEN_LUONG_TRANGTHAIXOA)';
    ELSE IF @FilterCCCD IS NOT NULL
        SET @IndexHint = 'WITH (INDEX = UK__NHANVIEN__CCCD)';
    ELSE IF @TrangThaiXoa = 0
        SET @IndexHint = 'WITH (INDEX = IX_NHANVIEN_TRANGTHAIXOA_ACTIVE)';
    
    -- =====================================
    -- ĐẾM TỔNG SỐ BẢN GHI
    -- =====================================
    DECLARE @CountSQL NVARCHAR(MAX);
    SET @CountSQL = N'
    SELECT @TongSoBanGhi = COUNT(*)
    FROM NHANVIEN ' + @IndexHint + '
    WHERE ' + @WhereConditions;
    
    EXEC sp_executesql @CountSQL,
         N'@TongSoBanGhi INT OUTPUT',
         @TongSoBanGhi OUTPUT;
    
    -- =====================================
    -- TRUY VẤN CHÍNH
    -- =====================================
    DECLARE @MainSQL NVARCHAR(MAX);
    SET @MainSQL = N'
    SELECT 
        MANV,
        CCCD,
        HO,
        TEN,
        HOTEN = HO + '' '' + TEN,
        NGAYSINH,
        DIACHI,
        LUONG,
        GHICHU,
        TRANGTHAIXOA,
        TongSoBanGhi = @TongSoBanGhi
    FROM NHANVIEN ' + @IndexHint + '
    WHERE ' + @WhereConditions + '
    ORDER BY ' + @OrderBy;
    
    -- Thực thi truy vấn chính
    EXEC sp_executesql @MainSQL,
         N'@TongSoBanGhi INT',
         @TongSoBanGhi;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DoiMatKhau]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoiMatKhau]
    @login VARCHAR(50),      -- Login name cần đổi mật khẩu
    @newPassword VARCHAR(50) -- Mật khẩu mới
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem Login có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM master.sys.syslogins WHERE name = @login)
    BEGIN
        RAISERROR ('Lỗi: Tên đăng nhập (Login) [%s] không tồn tại.', 16, 1, @login);
        RETURN;
    END;

    -- Đổi mật khẩu cho Login mà không cần nhập mật khẩu cũ như sp_password
	-- quotename là tạo các [] xung quanh để ngăn lỗi và tăng tính bảo mật
    DECLARE @sql NVARCHAR(200);
    SET @sql = 'ALTER LOGIN ' + QUOTENAME(@login) + ' WITH PASSWORD = ' + QUOTENAME(@newPassword, '''');
    EXEC sp_executesql @sql;

    -- Thông báo thành công
    PRINT 'Đổi mật khẩu thành công cho login: ' + @login;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DonDatHang_ChuaNhap_Filter]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================================================
-- STORED PROCEDURE: SP_DonDatHang_ChuaNhap_Filter
-- Mục đích: Lấy danh sách đơn đặt hàng chưa nhập
-- Sắp xếp mặc định theo ngày đặt hàng từ lớn đến bé (NGAY DESC)
-- Không phân trang, không bộ lọc
-- =====================================================
CREATE PROC [dbo].[SP_DonDatHang_ChuaNhap_Filter]
    -- Tham số trả về
    @TongSoBanGhi INT OUTPUT               -- Tổng số bản ghi thỏa mãn điều kiện
AS
BEGIN
    SET NOCOUNT ON;
    
    -- =====================================
    -- ĐIỀU KIỆN WHERE
    -- =====================================
    DECLARE @WhereConditions NVARCHAR(MAX) = 'PN.MASODDH IS NULL'; -- Điều kiện chính
    
    -- =====================================
    -- XÂY DỰNG ORDER BY
    -- =====================================
    DECLARE @OrderBy NVARCHAR(100) = 'DH.NGAY DESC, DH.MASODDH ASC';
    
    -- =====================================
    -- XÂY DỰNG INDEX HINT
    -- =====================================
    DECLARE @IndexHint NVARCHAR(100) = 'WITH (INDEX = IX_DDH_NGAY_OPTIMIZED)';
    
    -- =====================================
    -- ĐẾM TỔNG SỐ BẢN GHI
    -- =====================================
    DECLARE @CountSQL NVARCHAR(MAX);
    SET @CountSQL = N'
    SELECT @TongSoBanGhi = COUNT(DISTINCT DH.MASODDH)
    FROM DDH DH ' + @IndexHint + '
    LEFT JOIN PHIEUNHAP PN WITH (INDEX = IX_PHIEUNHAP_MASODDH_UNIQUE) ON DH.MASODDH = PN.MASODDH
    WHERE ' + @WhereConditions;
    
    EXEC sp_executesql @CountSQL, 
         N'@TongSoBanGhi INT OUTPUT', 
         @TongSoBanGhi OUTPUT;
    
    -- =====================================
    -- TRUY VẤN CHÍNH
    -- =====================================
    DECLARE @MainSQL NVARCHAR(MAX);
    SET @MainSQL = N'
    SELECT 
        DH.MASODDH,
        DH.NGAY AS NgayDatHang,
        DH.NHACC,
        DH.MANV,
        NV.HO + '' '' + NV.TEN AS TenNhanVien,
        DATEDIFF(DAY, DH.NGAY, GETDATE()) AS SoNgayTuKhiDat,
        CT.MAVT,
        VT.TENVT,
        VT.DVT,
        CT.SOLUONG,
        CT.DONGIA,
        TongSoBanGhi = @TongSoBanGhi
    FROM DDH DH ' + @IndexHint + '
    LEFT JOIN PHIEUNHAP PN WITH (INDEX = IX_PHIEUNHAP_MASODDH_UNIQUE) ON DH.MASODDH = PN.MASODDH
    LEFT JOIN NHANVIEN NV ON DH.MANV = NV.MANV AND NV.TRANGTHAIXOA = 0
    LEFT JOIN CTDDH CT ON DH.MASODDH = CT.MASODDH
    LEFT JOIN VATTU VT ON CT.MAVT = VT.MAVT
    WHERE ' + @WhereConditions + '
    ORDER BY ' + @OrderBy + ', CT.MAVT ASC';
    
    -- Thực thi truy vấn chính
    EXEC sp_executesql @MainSQL,
         N'@TongSoBanGhi INT',
         @TongSoBanGhi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVattuFromCTDDH]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVattuFromCTDDH]
    @MASODDH NCHAR(8)
AS
BEGIN
    SELECT DISTINCT V.MAVT, V.TENVT
    FROM VATTU V
    INNER JOIN CTDDH C ON V.MAVT = C.MAVT
    WHERE C.MASODDH = @MASODDH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDong_NhanVien]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_HoatDong_NhanVien]
    @TuNgay DATE,
    @DenNgay DATE,
    @LoaiPhieu NVARCHAR(10) = 'CAHAI',     -- 'NHAP', 'XUAT', 'CAHAI'
    @MaNV INT,                              -- Mã nhân viên (bắt buộc)
    @FilterHoTen NVARCHAR(100) = NULL,      -- Tìm kiếm theo họ tên
    @SapXepTheo NVARCHAR(20) = 'NGAY',     -- 'NGAY', 'MAPHIEU', 'TENVT', 'SOLUONG', 'TRIGIA'
    @ThuTuSapXep NVARCHAR(4) = 'ASC',      -- 'ASC' hoặc 'DESC'
    @TongSoBanGhi INT OUTPUT,               -- Tổng số bản ghi
    @TongTriGia DECIMAL(15,2) OUTPUT        -- Tổng trị giá
AS
BEGIN
    SET NOCOUNT ON;
    
    -- =====================================
    -- VALIDATION INPUT PARAMETERS
    -- =====================================
    
    -- Validate ngày
    IF @TuNgay IS NULL OR @DenNgay IS NULL
    BEGIN
        RAISERROR('❌ Tham số @TuNgay và @DenNgay không được NULL', 16, 1);
        RETURN;
    END;
    
    IF @TuNgay > @DenNgay
    BEGIN
        RAISERROR('❌ Ngày bắt đầu không được lớn hơn ngày kết thúc', 16, 1);
        RETURN;
    END;
    
    -- Validate loại phiếu
    IF @LoaiPhieu NOT IN ('NHAP', 'XUAT', 'CAHAI')
    BEGIN
        RAISERROR('❌ @LoaiPhieu chỉ chấp nhận: NHAP, XUAT, CAHAI', 16, 1);
        RETURN;
    END;
    
    -- Validate mã nhân viên
    IF NOT EXISTS (SELECT 1 FROM NHANVIEN WHERE MANV = @MaNV)
    BEGIN
        RAISERROR('❌ Mã nhân viên %d không tồn tại trong hệ thống', 16, 1, @MaNV);
        RETURN;
    END;
    
    -- Validate tham số sắp xếp
    IF @SapXepTheo NOT IN ('NGAY', 'MAPHIEU', 'TENVT', 'SOLUONG', 'TRIGIA')
    BEGIN
        RAISERROR('❌ @SapXepTheo chỉ chấp nhận: NGAY, MAPHIEU, TENVT, SOLUONG, TRIGIA', 16, 1);
        RETURN;
    END;
    
    IF @ThuTuSapXep NOT IN ('ASC', 'DESC')
    BEGIN
        RAISERROR('❌ @ThuTuSapXep chỉ chấp nhận: ASC, DESC', 16, 1);
        RETURN;
    END;
    
    -- =====================================
    -- TẠO TEMP TABLE CHO HIỆU SUẤT
    -- =====================================
    
    CREATE TABLE #HoatDongNhanVien (
        Ngay DATE,
        MaPhieu NCHAR(8),
        LoaiPhieu NVARCHAR(10),
        TenVatTu NVARCHAR(30),
        SoLuong INT,
        TriGia DECIMAL(15,2),
        INDEX IX_Temp_NgayMaPhieu NONCLUSTERED (Ngay, MaPhieu)
    );
    
    -- =====================================
    -- THU THẬP DỮ LIỆU PHIẾU NHẬP
    -- =====================================
    
    IF @LoaiPhieu IN ('NHAP', 'CAHAI')
    BEGIN
        INSERT INTO #HoatDongNhanVien (Ngay, MaPhieu, LoaiPhieu, TenVatTu, SoLuong, TriGia)
        SELECT 
            PN.NGAY,
            PN.MAPN,
            N'NHẬP' AS LoaiPhieu,
            VT.TENVT,
            CT.SOLUONG,
            CT.SOLUONG * CT.DONGIA AS TriGia
        FROM PHIEUNHAP PN WITH (INDEX(IX_PHIEUNHAP_NGAY_MANV_OPTIMIZED))
        INNER JOIN CTPN CT WITH (INDEX(IX_CTPN_COVERING_OPTIMIZED)) ON PN.MAPN = CT.MAPN
        INNER JOIN VATTU VT WITH (INDEX(IX_VATTU_MAVT_TENVT)) ON CT.MAVT = VT.MAVT
        INNER JOIN NHANVIEN NV ON PN.MANV = NV.MANV
        WHERE PN.NGAY BETWEEN @TuNgay AND @DenNgay
          AND PN.MANV = @MaNV
          AND (@FilterHoTen IS NULL OR (NV.HO + ' ' + NV.TEN LIKE N'%' + @FilterHoTen + '%'));
    END;
    
    -- =====================================
    -- THU THẬP DỮ LIỆU PHIẾU XUẤT
    -- =====================================
    
    IF @LoaiPhieu IN ('XUAT', 'CAHAI')
    BEGIN
        INSERT INTO #HoatDongNhanVien (Ngay, MaPhieu, LoaiPhieu, TenVatTu, SoLuong, TriGia)
        SELECT 
            PX.NGAY,
            PX.MAPX,
            N'XUẤT' AS LoaiPhieu,
            VT.TENVT,
            CT.SOLUONG,
            CT.SOLUONG * CT.DONGIA AS TriGia
        FROM PHIEUXUAT PX WITH (INDEX(IX_PHIEUXUAT_NGAY_MANV_OPTIMIZED))
        INNER JOIN CTPX CT WITH (INDEX(IX_CTPX_COVERING_OPTIMIZED)) ON PX.MAPX = CT.MAPX
        INNER JOIN VATTU VT WITH (INDEX(IX_VATTU_MAVT_TENVT)) ON CT.MAVT = VT.MAVT
        INNER JOIN NHANVIEN NV ON PX.MANV = NV.MANV
        WHERE PX.NGAY BETWEEN @TuNgay AND @DenNgay
          AND PX.MANV = @MaNV
          AND (@FilterHoTen IS NULL OR (NV.HO + ' ' + NV.TEN LIKE N'%' + @FilterHoTen + '%'));
    END;
    
    -- =====================================
    -- TÍNH TỔNG KẾT QUẢ (OUTPUT PARAMETERS)
    -- =====================================
    
    SELECT 
        @TongSoBanGhi = COUNT(*),
        @TongTriGia = ISNULL(SUM(TriGia), 0)
    FROM #HoatDongNhanVien;
    
    -- =====================================
    -- TRẢ VỀ KẾT QUẢ VỚI SẮP XẾP
    -- =====================================
    
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @OrderBy NVARCHAR(100);
    
    SET @OrderBy = CASE @SapXepTheo
        WHEN 'NGAY' THEN 'Ngay'
        WHEN 'MAPHIEU' THEN 'MaPhieu'
        WHEN 'TENVT' THEN 'TenVatTu'
        WHEN 'SOLUONG' THEN 'SoLuong'
        WHEN 'TRIGIA' THEN 'TriGia'
    END + ' ' + @ThuTuSapXep;
    
    SET @SQL = N'
    SELECT 
        Ngay,
        MaPhieu,
        LoaiPhieu,
        TenVatTu,
        SoLuong,
        TriGia,
        TongSoBanGhi = @TongSoBanGhi,
        TongTriGia = @TongTriGia
    FROM #HoatDongNhanVien
    ORDER BY ' + @OrderBy;
    
    EXEC sp_executesql @SQL, 
        N'@TongSoBanGhi INT, @TongTriGia DECIMAL(15,2)',
        @TongSoBanGhi = @TongSoBanGhi,
        @TongTriGia = @TongTriGia;
    
    -- Cleanup
    DROP TABLE #HoatDongNhanVien;
    
    PRINT '✅ SP_HoatDong_NhanVien executed successfully!';
    PRINT 'Tổng số bản ghi: ' + CAST(@TongSoBanGhi AS NVARCHAR(20));
    PRINT 'Tổng trị giá: ' + FORMAT(@TongTriGia, 'N0') + ' VNĐ';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaDonDatHang]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KiemTraMaDonDatHang]
	@id nvarchar(15)
AS
BEGIN
	IF( EXISTS(SELECT * FROM DDH WHERE DDH.MASODDH = @id) )
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaPhieuNhap]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_KiemTraMaPhieuNhap]
	@id nvarchar(15)
AS
BEGIN
	IF( EXISTS(SELECT * FROM PHIEUNHAP WHERE PHIEUNHAP.MAPN = @id) )
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaPhieuXuat]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_KiemTraMaPhieuXuat]
	@id nvarchar(15)
AS
BEGIN
	IF( EXISTS(SELECT * FROM PHIEUXUAT WHERE PHIEUXUAT.MAPX = @id) )
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraMaVatTu]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraMaVatTu]
@MAVT nchar(4)
AS
BEGIN

	IF EXISTS(SELECT 1 
			  FROM VATTU VT  
			  WHERE VT.MAVT = @MAVT)
			RETURN 1; 
	RETURN 0; -- Chưa tồn tại
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraSLVatTu]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_KiemTraSLVatTu]
	@id nvarchar(15),
	@sl int
AS
BEGIN
	IF((SELECT SOLUONGTON FROM VATTU WHERE VATTU.MAVT = @id) < @sl)
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinSaoLuu]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayThongTinSaoLuu]
    @database_name NVARCHAR(128) -- Loại bỏ giá trị mặc định 'QLVT'
AS
BEGIN
    SET NOCOUNT ON; -- Giảm chi phí truyền thông tin trạng thái

    -- Kiểm tra xem có bản sao lưu nào cho database_name hay không
    IF NOT EXISTS (
        SELECT 1 
        FROM msdb.dbo.backupset WITH (FORCESEEK)
        WHERE database_name = @database_name AND type = 'D'
    )
    BEGIN
        SELECT 
            position = CAST(NULL AS INT),
            backup_start_date = CAST(NULL AS DATETIME),
            user_name = CAST(NULL AS NVARCHAR(128)),
            DienGiai = CAST(N'Không tìm thấy bản sao lưu cho cơ sở dữ liệu ' + @database_name AS NVARCHAR(256))
        RETURN;
    END

    -- Truy vấn thông tin sao lưu với tối ưu hóa
    ;WITH LatestBackup AS (
        -- Lấy backup_set_id mới nhất với position = 1
        SELECT TOP 1 backup_set_id
        FROM msdb.dbo.backupset WITH (FORCESEEK)
        WHERE database_name = @database_name 
        AND position = 1
        ORDER BY backup_start_date DESC
    )
    SELECT 
        bs.position,
        bs.backup_start_date,
        bs.user_name,
        DienGiai = CAST(N'Sao lưu cơ sở dữ liệu ' + @database_name + N' vào thời điểm ' + 
            CONVERT(NVARCHAR(50), bs.backup_start_date, 120) AS NVARCHAR(256))
    FROM msdb.dbo.backupset bs
    INNER JOIN LatestBackup lb ON bs.backup_set_id >= lb.backup_set_id
    WHERE bs.database_name = @database_name 
    AND bs.type = 'D'
    ORDER BY bs.position DESC
    OPTION (OPTIMIZE FOR UNKNOWN); -- Loại bỏ OPTIMIZE FOR cụ thể để tăng tính linh hoạt
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_PhieuNvLapTrongNamTheoLoai]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PhieuNvLapTrongNamTheoLoai]
@MANV INT, @LOAI CHAR, @NAM INT
AS
BEGIN
 IF @LOAI = 'N'
	SELECT	PS.PHIEU, NGAY, TENVT, SOLUONG, DONGIA 
	FROM (SELECT MAPN AS PHIEU, NGAY FROM PHIEUNHAP
	WHERE MANV = @MANV AND YEAR(NGAY) = @NAM) PS,CTPN CT, VATTU VT
	WHERE PS.PHIEU=CT.MAPN AND CT.MAVT=VT.MAVT
	ORDER BY NGAY, PS.PHIEU
ELSE
	SELECT PS.PHIEU, NGAY, TENVT, SOLUONG, DONGIA 
	FROM (SELECT MAPX AS PHIEU, NGAY FROM PHIEUXUAT
	WHERE MANV = @MANV AND YEAR(NGAY) = @NAM) PS,CTPX CT, VATTU VT
	WHERE PS.PHIEU=CT.MAPX AND CT.MAVT=VT.MAVT
	ORDER BY NGAY, PS.PHIEU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Report_TongHop_NhapXuat]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- STORED PROCEDURE CHÍNH: REPORT TỔNG HỢP NHẬP XUẤT (FIXED)
-- =====================================================
CREATE PROC [dbo].[SP_Report_TongHop_NhapXuat]
    -- Tham số bắt buộc
    @TuNgay DATE,                          -- Ngày bắt đầu
    @DenNgay DATE,                         -- Ngày kết thúc
    
    -- Tham số tùy chọn  
    @SapXepTheo NVARCHAR(10) = 'NGAY',     -- 'NGAY', 'NHAP', 'XUAT'
    @ThuTuSapXep NVARCHAR(4) = 'ASC'       -- 'ASC', 'DESC'
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validation tham số đầu vào
    IF @TuNgay IS NULL OR @DenNgay IS NULL
    BEGIN
        RAISERROR('Tham số @TuNgay và @DenNgay không được để trống', 16, 1);
        RETURN;
    END;
    
    IF @TuNgay > @DenNgay
    BEGIN
        RAISERROR('Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc', 16, 1);
        RETURN;
    END;
    
    -- Chuẩn hóa tham số
    IF @SapXepTheo NOT IN ('NGAY', 'NHAP', 'XUAT') SET @SapXepTheo = 'NGAY';
    IF @ThuTuSapXep NOT IN ('ASC', 'DESC') SET @ThuTuSapXep = 'ASC';
    
    -- Tạo temp table để lưu kết quả tổng hợp
    CREATE TABLE #TempTongHop (
        NGAY DATE,
        TienNhap DECIMAL(18,2),
        TienXuat DECIMAL(18,2),
        TyLeNhap DECIMAL(5,2),
        TyLeXuat DECIMAL(5,2)
    );
    
    -- Bước 1: Thu thập dữ liệu nhập xuất theo ngày
    WITH CTE_TongHopTheoNgay AS (
        -- Tổng tiền nhập theo ngày
        SELECT 
            PN.NGAY,
            SUM(CAST(CT.SOLUONG * CT.DONGIA AS DECIMAL(18,2))) AS TienNhap,
            0 AS TienXuat
        FROM PHIEUNHAP PN WITH (INDEX = IX_PHIEUNHAP_NGAY_OPTIMIZED)
        INNER JOIN CTPN CT WITH (INDEX = IX_CTPN_MAPN_TRIGIA) ON PN.MAPN = CT.MAPN
        WHERE PN.NGAY >= @TuNgay AND PN.NGAY <= @DenNgay
        GROUP BY PN.NGAY
        
        UNION ALL
        
        -- Tổng tiền xuất theo ngày
        SELECT 
            PX.NGAY,
            0 AS TienNhap,
            SUM(CAST(CT.SOLUONG * CT.DONGIA AS DECIMAL(18,2))) AS TienXuat
        FROM PHIEUXUAT PX WITH (INDEX = IX_PHIEUXUAT_NGAY_OPTIMIZED)
        INNER JOIN CTPX CT WITH (INDEX = IX_CTPX_MAPX_TRIGIA) ON PX.MAPX = CT.MAPX
        WHERE PX.NGAY >= @TuNgay AND PX.NGAY <= @DenNgay
        GROUP BY PX.NGAY
    ),
    CTE_TongHopFinal AS (
        -- Gộp nhập và xuất theo ngày
        SELECT 
            NGAY,
            SUM(TienNhap) AS TienNhap,
            SUM(TienXuat) AS TienXuat
        FROM CTE_TongHopTheoNgay
        GROUP BY NGAY
    )
    -- Insert vào temp table
    INSERT INTO #TempTongHop (NGAY, TienNhap, TienXuat)
    SELECT 
        NGAY,
        TienNhap,
        TienXuat
    FROM CTE_TongHopFinal;
    
    -- Bước 2: Tính tổng cộng và tỷ lệ
    DECLARE @TotalNhap DECIMAL(18,2), @TotalXuat DECIMAL(18,2);
    
    SELECT 
        @TotalNhap = SUM(TienNhap),
        @TotalXuat = SUM(TienXuat)
    FROM #TempTongHop;
    
    -- Cập nhật tỷ lệ % vào temp table
    UPDATE #TempTongHop
    SET 
        TyLeNhap = CASE 
            WHEN @TotalNhap > 0 THEN CAST((TienNhap * 100.0 / @TotalNhap) AS DECIMAL(5,2))
            ELSE 0.00
        END,
        TyLeXuat = CASE 
            WHEN @TotalXuat > 0 THEN CAST((TienXuat * 100.0 / @TotalXuat) AS DECIMAL(5,2))
            ELSE 0.00
        END;
    
    -- Bước 3: DỮ LIỆU CHÍNH của báo cáo
    SELECT 
        NGAY AS Ngay,
        TienNhap,
        TyLeNhap,
        TienXuat,
        TyLeXuat
    FROM #TempTongHop
    ORDER BY 
        CASE WHEN @SapXepTheo = 'NGAY' AND @ThuTuSapXep = 'ASC' THEN NGAY END ASC,
        CASE WHEN @SapXepTheo = 'NGAY' AND @ThuTuSapXep = 'DESC' THEN NGAY END DESC,
        CASE WHEN @SapXepTheo = 'NHAP' AND @ThuTuSapXep = 'ASC' THEN TienNhap END ASC,
        CASE WHEN @SapXepTheo = 'NHAP' AND @ThuTuSapXep = 'DESC' THEN TienNhap END DESC,
        CASE WHEN @SapXepTheo = 'XUAT' AND @ThuTuSapXep = 'ASC' THEN TienXuat END ASC,
        CASE WHEN @SapXepTheo = 'XUAT' AND @ThuTuSapXep = 'DESC' THEN TienXuat END DESC,
        NGAY ASC;
    
    -- Cleanup temp table
    DROP TABLE #TempTongHop;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoBackupDevice]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TaoBackupDevice]
    @logicalName NVARCHAR(128),
    @physicalPath NVARCHAR(260),
    @deviceExists BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Kiểm tra tham số physicalPath không rỗng
        IF NULLIF(@physicalPath, '') IS NULL
        BEGIN
            RAISERROR (N'Đường dẫn vật lý không được để trống.', 16, 1);
            RETURN;
        END

        SET @deviceExists = 0;

        IF EXISTS (SELECT 1 FROM master.sys.backup_devices WHERE name = @logicalName)
        BEGIN
            SET @deviceExists = 1;
            EXEC master.sys.sp_dropdevice @logicalname = @logicalName, @delfile = 'delfile';
        END

        EXEC master.sys.sp_addumpdevice 'disk', @logicalName, @physicalPath;
        SELECT 'Tạo backup device thành công!' AS Result;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoTaiKhoan]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_TaoTaiKhoan]
    @login VARCHAR(50),      
    @password VARCHAR(50),   
    @username VARCHAR(50),   
    @role VARCHAR(50)        
AS
BEGIN
    SET NOCOUNT ON; -- Ngăn thông báo số dòng ảnh hưởng

    DECLARE @RET INT; -- Biến lưu kết quả trả về từ các SP hệ thống

    -- Bước 1: Tạo Login ở cấp Server
    EXEC @RET = SP_ADDLOGIN @login, @password, 'QLVT';

    -- Kiểm tra lỗi tạo Login (thường do trùng tên)
    IF (@RET = 1)
    BEGIN
        -- Ném lỗi cụ thể, C# sẽ bắt được trong SqlException.Message
        RAISERROR ('Lỗi: Tên đăng nhập (Login) [%s] đã tồn tại.', 16, 1, @login);
        RETURN; 
    END;

    -- Bước 2: Tạo User trong Database hiện tại và map với Login
    EXEC @RET = SP_GRANTDBACCESS @login, @username;

    -- Kiểm tra lỗi tạo User 
    IF (@RET = 1)
    BEGIN
        -- Nếu tạo User lỗi, phải xóa Login đã tạo ở Bước 1 để tránh Login mồ côi
        EXEC SP_DROPLOGIN @login;
        -- Ném lỗi cụ thể
        RAISERROR ('Lỗi: Tên người dùng (User) [%s] đã tồn tại trong database này.', 16, 1, @username);
        RETURN; 
    END;

    -- Bước 3: Thêm User vào Role trong Database
    EXEC sp_addrolemember @role, @username;

    -- Bước 4: Nếu Role là "Admin", cấp thêm quyền ở cấp Server cho Login
    IF @role = 'Admin'
    BEGIN
        EXEC sp_addsrvrolemember @login, 'SecurityAdmin'; -- Quyền quản lý login, user
        EXEC sp_addsrvrolemember @login, 'DBCREATOR';     -- Quyền tạo/sửa/xóa DB
        EXEC sp_addsrvrolemember @login, 'DiskAdmin';  -- Quyền ghi vào ổ đĩa

    END;
    PRINT 'Tạo tài khoản thành công cho login: ' + @login; 

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuu_KiemTraMaNhanVien]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TraCuu_KiemTraMaNhanVien]
    @MANHANVIEN int
as
begin
    if exists (select * from NHANVIEN as NV where NV.MANV = @MANHANVIEN)
        return 1; -- ma nhan vien ton tai
    return 0; -- ma nhan vien khong ton tai
end
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaTaiKhoan]    Script Date: 6/25/2025 10:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaTaiKhoan]
    @login VARCHAR(50),    -- Login name cần xóa
    @username VARCHAR(50) -- User name cần xóa
AS
BEGIN
    SET NOCOUNT ON;

    -- Bước 1: Xóa User khỏi tất cả các Role DB mà nó thuộc về
    IF EXISTS (SELECT 1 FROM sys.sysusers WHERE name = @username) 
    BEGIN
       EXEC sp_droprolemember 'Admin', @username;
       EXEC sp_droprolemember 'NhanVien', @username;
    END

    -- Bước 2: Xóa User khỏi Database
    IF EXISTS (SELECT 1 FROM sys.sysusers WHERE name = @username AND islogin = 1)
       EXEC SP_DROPUSER @username;

    -- Bước 3: Xóa Login khỏi Server
    IF EXISTS (SELECT 1 FROM master.sys.syslogins WHERE name = @login)
       EXEC SP_DROPLOGIN @login;

END
GO
