<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVT.Properties.Settings.QLVTConnectionString" connectionString="Data Source=DESKTOP-ERC19EE;Initial Catalog=QLVT;User ID=sa;Password=1111;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLVTConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-ERC19EE;user id=;password=;initial catalog=QLVT;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
        <add name="QLVTConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-ERC19EE;user id=sa;password=1111;initial catalog=QLVT;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
        <add name="QLVT.Properties.Settings.QLVTConnectionString1" connectionString="Data Source=DESKTOP-ERC19EE;Initial Catalog=QLVT;Persist Security Info=True;User ID=sa;Password=1111;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>